<%= form_for @timetable do |f| %>
  <div class="field">
    <%= f.label :place_depart %>
    <%= f.text_field :place_depart %>
  </div>

  <div class="field">
    <%= f.label :time_depart %>
    <%= f.datetime_select :time_depart, :minute_step => 15 %>
  </div>

  <div class="field">
    <%= f.label :place_arrive %>
    <%= f.text_field :place_arrive %>
  </div>

  <div class="field">
    <%= f.label :time_arrive %>
    <%= f.datetime_select :time_arrive, :minute_step => 15 %>
  </div>

  <div class="field">
    <%= f.label :amount_of_place %>
    <%= f.number_field :amount_of_place %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, step: :any %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
