<p>
  <strong>Depart_place:</strong>
  <%= @timetable.place_depart %>
</p>

<p>
  <strong>Depart_time:</strong>
  <%= @timetable.time_depart %>
</p>

<p>
  <strong>Arrive_place:</strong>
  <%= @timetable.place_arrive %>
</p>

<p>
  <strong>Arrive_time:</strong>
  <%= @timetable.time_arrive %>
</p>

<p>
  <strong>Amount_of_place</strong>
  <%= @timetable.amount_of_place %>
</p>

<% if User.find(session[:user_id]).admin == true %>
  <%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<% end %>
<%= link_to 'Back to Timetables', timetables_path %>
