<p>
  <strong>First_name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last_name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<% if User.find(session[:user_id]).admin == true %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back to List of Users', users_path %>
